{% extends "base.html" %}

{% block head_js %}
<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.send_graffity').forEach(button => {
            button.onclick = () => {
                const peer_id = document.querySelector('#peer_id_input').value;
                const info = button.id.split("_");
                const url = '/msg?peer_id=' + peer_id + '&doc_id=' + info[1] + '&doc_owner=' + info[2]

                if (peer_id != 0){
                    const request = new XMLHttpRequest();
                    request.open('GET', url, true);

                    request.onload = () => {
                        const data = JSON.parse(request.responseText);
                        console.log(data.response_);
                        if (data.response_ != 'failure') {
                            document.querySelector('.response').innerHTML = 'Получилось!';
                            document.querySelector('.response').style.display = 'block';
                            console.log('круто');
                        }
                        else {
                            document.querySelector('.response').innerHTML = 'плохой айди';
                            document.querySelector('.response').style.display = 'block';
                        }
                    };
                    request.send();
                    return false;
                }
                else {
                    alert('пустой айди');
                }
                
            }
        });
    });

</script>
{% endblock head_js%}

{% block content %}

<div class="response funnyfont transition" style="display: none"> получилось! </div>

<div class="g_reciever transition">
    <form id="peer_id"></form>
        <label for="peer_id_input">получатель:</label> 
        <input 
            id="peer_id_input"
            type="text" 
            name="peer_id_input" 
            placeholder="2000000125" 
            form="peer_id"
            class="g_reciever_inp transition"
        />
</div>

<div class="new_graffiti_button funnyfont instr_link">
    <a href="/convert">Добавить новое граффити</a>
</div>

<div class="graffities_wrap transition">
    {% for item in graffities[::-1] %}
        <div class="graffiti_wrap transition">
            {% if get_pic(item.doc_id, item.doc_owner) %}
                <a id="send_{{item.doc_id}}_{{item.doc_owner}}" href="#" class="send_graffity">
                    <img src="{{get_pic(item.doc_id, item.doc_owner) }}" class="graffiti_pic">
                </a>
            {% else %}
                <p>can't display that pic...</p>
            {% endif %}
        </div>
    {% endfor %}
    
</div>

    {% if not graffities %}
        <div class="graffiti_add_help">Тут пока пусто... добавьте граффити &rarr;</div>
    {% else %}
    {% endif %}

{% endblock %}