{% extends "base.html" %}

{% block content %}
<div class="central_content transition">
    <a href="instruction"> <!--будем значит отправлять анимированные граффити-->
    <div class="content_1 transition">
        <div class="content_text transition">инструкция</div>
    </div></a>
    <a href="my_graffities"> 
    <div class="content_2 transition">
        <div class="content_text transition">граффити</div>
    </div></a>
    <a href="https://github.com/lindy2076/python-au/tree/main/web_dz_vk_fun" target="_blank">
    <div class="content_3 transition">
        <div class="content_text transition">source code</div>
    </div>
    </a>
</div>
{% endblock %}
