<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Дом</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
    </head>

<body>
    <div class="head">
        <a href="/"><div class="title">| это веб приложение |</div></a>
        <div class="about">отправляем гифку как граффити в вк</div>
    </div>
    
    {% block content %}
    --something went wrong...--
    {% endblock %}

    <div class="footer">
        <!--<hr>-->
        <div class="author">Lindy2076 2022 / </div>
        <div class="link"><a class="git" href="https://github.com/lindy2076/python-au" target="_blank">git</a></div>
    </div>
</body>
