{% extends "base.html" %}

{% block content %}

<div class="conv">Пожалуйста, прочитайте <a href="instruction" target="_blank">инструкцию</a></div>

<div class="form_wrap">
    <form action="/convert" method ="POST" class="form_body">
        <div class="token_wrap">
            <p>token</p> <input type="text" value="{{token}}" name="token_input" class="token_inp" placeholder="ba23fsdb...">
        </div>
        <div class="id_wrap">
            <p>peer id</p> <input type="text" value="{{peer_id}}" name="id_input" class="id_inp" placeholder="2000000000 + chat id">
        </div>
        <div class="link_wrap">
            <p>link</p> <input type="text" value="{{link}}" name="png_link" class="link_inp" placeholder="https://server.dom/.../file.png">
        </div>
        <div class="randint_wrap">
            <p>randint</p> <input type="text" inputmode="numeric" pattern="[0-9]*" value="{{randint_}}" name="randint_input" class="randint_inp" placeholder="69">
        </div>
        <div class="submit_wrap">
            <input type="submit" value="submit" class="submit_inp">
        </div>
    </form>
    <div class="resp">message_id: {{response}}</div>
</div>
{% endblock %}
