{% extends "base.html" %}

{% block content %}

<div class="instruction">
    <p class ="funnyfont">Это инструкция.</p><hr>
    <p>Здравствуйте дорогие уважаемые читатели. C помощью этого сервиса Вы сможете отправить
        анимированное граффити ВКонтакте:</p>
    <div class="img_wrap">
        <img src="{{url_for('static',filename='graffiti_example.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p class ="funnyfont">Что можно делать.</p>
    <p>Приложение позволяет загружать файлы на сервер, чтобы сохранить их как граффити ВКонтакте.
        Доступные форматы изображений: png(apng), gif. На личной странице можно выбрать загруженное граффити
        и отправить его собеседнику по айди. Граффити хранятся вечно(наверное).
    </p>
    <p>У каждого юзера свои граффити. Каждый юзер идентефицируется по токену вк.</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='example.gif')}}" class="instr_imgs" width="50%">
    </div>
    <hr>
    <p>(Анимация работает только в браузере, мобильный клиент не проигрывает анимацию. 
        Но с мобильного клиента можно отправлять ранее отправленные граффити прямо оттуда,
         в том числе и анимированные.)</p>
    <p class="funnyfont">Шаги:</p>
    <ul>
        <li>Получение токена ВК</li>
        <li class="bold">Загрузка картинки на сервер</li>
        <li>Узнавание айди собеседника и отправка</li>
    </ul>
    <hr>
    <p class="bold">Получаем токен</p>
    <p>Токен лучше никогда никому не передавать и никуда не вставлять. Но я (честно) его не украду. </p>
    <p>Токен можно получить тут: 
    <!--    <a href="https://vkhost.github.io/" target="_blank" class="instr_link">auth</a></p>
    <p>Для работы приложения надо предоставить доступ к сообщениям и документам</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='token_recieve.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Нажмите получить, а затем разрешите приложению доступ к данным.</p> -->
    <a href="{{url_for('auth')}}" target="_blank" class="instr_link">auth</a>
    <p>Нажмите получить токен. Войдите в аккаунт и разрешите доступ</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='token.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Откроется пустая вкладка. Скопируйте из адресной строки токен.
    Он расположен между <span class="bold">access_token=</span> и <span class="bold">&expires in</span>.</p>
    <p>Вставьте токен в поле.</p>
    
    <hr>

    <p class="bold">Загружаем картинку.</p>
    <p>Вас перекинуло на раздел с загруженными граффити. Сначала там будет пусто. Но можно 
        загрузить новые. Нажмите на соответствующую кнопку справа.</p>
    <p>Откроется окно загрузки файла. Можно вставить ссылку, либо загрузить файл с компьютера.</p>
    <p>Помните про поддерживаемые форматы. Если что-то пойдёт не так, то выведется сообщение.</p>

    <div class="img_wrap">
        <img src="{{url_for('static', filename='upload_pic.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Нажмите добавить к себе, если картинка Вас устраивает.</p>
    <hr>

    <p class="bold">Получаем айди собеседника</p>
    <p>Зайдите в диалог и скопируйте из адресной строки цифры после <span class="bold">sel=</span>.</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='peer_id.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Если же Вы хотите отправить в беседу, то прибавьте к цифрам после sel 2 миллиарда.</p>
    <p>Например, если айди беседы 125, то в поле <span class="bold">получатель</span> надо вставить 2000000125</p>
    
    <hr>
    
    
    <p class="bold">Profit.</p>
    <p></p>
    <p>Если что-то не работает, то хорошо бы написать:
         <a href="https://vk.com/lin__dy" target="_blank" class="instr_link">vk</a></p>
    <hr>
    <p>Чтобы приложение забыло токен, перейдите на <a class="instr_link bold" href="{{url_for('logout')}}">/logout</a></p>
</div>  

{% endblock %}