{% extends "base.html" %}

{% block content %}

<div class="instruction">
    <p class ="funnyfont">Это инструкция.</p><hr>
    <p>Здравствуйте дорогие уважаемые читатели. Сегодня покажем как сделать вот так:</p>
    <div class="img_wrap">
        <img src="{{url_for('static',filename='graffiti_example.gif')}}" class="instr_imgs" width="50%">
    </div>
    <hr>
    <p>Анимация работает только в браузере, мобильный клиент не проигрывает анимацию. 
        Но с мобильного клиента можно отправлять ранее отправленные граффити,
         в том числе и анимированные.</p>
    <p class="funnyfont">Шаги:</p>
    <ul>
        <li class="bold">GIF -> aPNG</li>
        <li>Получение токена ВК</li>
        <li>Осознание айди собеседника</li>
        <li>Вставить данные в раздел сайта</li>
    </ul>
    <hr>
    <p class="bold">Получаем ссылку на aPNG.</p>
    <p>Первым делом надо зайти на 
        <a href="https://ezgif.com/gif-to-apng" target="_blank" class="instr_link">ezgif</a> 
        и сконвертировать Ваш gif файл в файл формата apng.</p>
    <p>Затем скопируйте ссылку на получившийся результат(пкм -> копировать адрес картинки)</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='copy_link.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Проверьте скопированный результат: вставьте в новой вкладке ссылку. Браузер должен вернуть
        только картинку, а адрес должен заканчиваться на .png
    </p>
    <p>Теперь Вы можете вставить ссылку в поле <a href="convert" target="_blank" class="instr_link bold">LINK</a> 
        (сохраните вкладку, она ещё понадобится)</p>
    <hr>

    <p class="bold">Получаем токен</p>
    <p>Токен лучше никогда никому не передавать. Но я (честно) его не украду. </p>
    <p>Токен можно получить тут: 
        <a href="https://vkhost.github.io/" target="_blank" class="instr_link">vkhost.github.io</a></p>
    <p>Для работы приложения надо предоставить доступ к сообщениям и документам</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='token_recieve.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Нажмите получить, а затем разрешите приложению доступ к данным.</p>
    <p>Откроется пустая вкладка. Скопируйте из адресной строки токен.
    Он расположен между <span class="bold">access_token=</span> и <span class="bold">&expires in</span>.</p>
    <p>Вставьте токен в поле <span class="bold">TOKEN.</span></p>
    <hr>
    <p class="bold">Получаем айди собеседника</p>
    <p>Зайдите в диалог и скопируйте из адресной строки цифры после <span class="bold">sel=</span>.</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='peer_id.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Если же Вы хотите отправить в беседу, то прибавьте к цифрам после sel 2 миллиарда.</p>
    <p>Например, если айди беседы 125, то в поле <span class="bold">PEER ID</span> надо вставить 2000000125</p>
    <hr>
    <p class="bold">RANDOM ID</p>
    <p>В поле <span class="bold">random id</span> надо ввести случайное число. Оно нужно для
        метода апи, чтобы одно сообщение случайно не отправилось дважды</p>
    <hr>
    <p class="bold">Profit.</p>
    <p>Всё, теперь у нас есть все необходимые данные для отправки анимированного граффити.</p>
    <p>Вставьте в поля соответствующие им значения и нажмите кнопку <span class="bold">SUBMIT</span>.</p>
    <p class="bold">НАДО ПОДОЖДАТЬ НЕСКОЛЬКО СЕКУНД</p>
    <div class="img_wrap">
        <img src="{{url_for('static', filename='result.gif')}}" class="instr_imgs" width="50%">
    </div>
    <p>Если всё хорошо, то выведется <span class="bold">MESSAGE_ID: и тут много цифр.</span></p>
    <p>Если какого-то параметра нет, то выведется <span class="bold"> -1</span></p>
    <p>Если что-то пошло не так с картинкой .png, то выведется <span class="bold">INVALID PIC</span></p>
    <p>Если что-то не так с обращением к апи вк, то выведется класс ошибки.</p>
    <p>Если что-то не работает, то хорошо бы написать:
         <a href="https://vk.com/lin__dy" target="_blank" class="instr_link">vk</a></p>
</div>  

{% endblock %}